node_modules
dist
coverage

.git
.github
.husky
.vscode

.env
.DS_Store

crawled-data
blueprint-templates

README.md
LICENSE.md

.gitignore
.prettierignore
.prettierrc
.oxlintrc.json
lint-staged.config.mjs
commitlint.config.mjs
.czrc